* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}
.column {
    float: left;
    width: 33.33%;
}

.content {
    background-color: #5be6b3;
    background-color: white;
    padding-top: 20px;
    height: 18em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 8px 0 rgba(0,0,0,0.19);
    border-radius: 0.2em;
}

.content:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 5px 30px 0 rgba(0,0,0,0.19);
}


.show {
    display: block;
    padding: 0.4em;
}

.top-container {
    text-align: center;
}