<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/ziggy.png">
    <title>All Services</title>
</head>
<body>
    <div class="top-container">
        <h2>Can you hear me, Major Tom?</h2>
    </div>

<div class="row">

    {% for item in config_data.data %}
        <div class="column show">
            {% if item.status %}

                <a href="{{ item.url }}"><div class="content">
                    <img src="{{ item.image }}"  class="image" alt="Mountains" style="width:6em;">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.message }}</p>
                    <h5>{{ item.url }}</h5>
                </div></a>

            {% else %}
            
                <a href="{{ item.url }}"><div class="content" style="background-color: red;">
                    <img src="{{ item.image }}" alt="Mountains" style="width:6em;">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.message }}</p>
                    <h5>{{ item.url }}</h5>
                </div></a>
                
            {% endif %}
        </div>
    {% endfor %}

  </div>
</body>
</html>
